/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
 /* Flexslider (second theme(index3.html))
 ===================================================================*/
 
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	/*margin-left:38px;*/
	padding: 0;
	list-style: none;
	-moz-box-sizing: border-box; 
    box-sizing: border-box; 
} 
.flex-control-paging {
	/*text-align:right !important;*/
	margin:0 !important;
}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 55px; }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	width: 38px;
	height: 38px;
	margin: -20px 0 0;
	display: block;
	background-color: /*url(../images/bg_direction_nav.png) no-repeat 0 0*/ #2f343a;
	position: absolute;
	bottom: 0px;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-image: url(../images/next-small.png);
	background-repeat: no-repeat;
	background-position: center center;
	left: 38px;
}
.flex-direction-nav .flex-prev {
	left: 0px;
	background-image: url(../images/prev-small.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.flexslider .flex-next:hover { background-color:#ffea00;background-image: url(../images/next-small-black.png);
	background-repeat: no-repeat;
	background-position: center center;/* right: -33px;*/}
.flexslider .flex-prev:hover { background-color:#ffea00;background-image: url(../images/prev-small-black.png);
	background-repeat: no-repeat;
	background-position: center center;/*left: -33px;*/}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -38px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background-color:#d1d1d1; cursor: pointer; text-indent: -9999px; }
.flex-control-paging li a:hover { background-color: #ffea00; }
.flex-control-paging li a.flex-active:hover { background-color: #ffea00; }
.flex-control-paging li a.flex-active { background-color: #2f343a; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
/*
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}*/


/* Caption style */
/* IE rgba() hack */
/*.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}*/
.flex-caption {
	position: absolute;
	background-color:#414146;
	bottom: 77px;
}
.flex-caption .subtitle-3 {
	text-align:right;
}

.flexslider:after {
    content: "";
    position: absolute;
    width: 100%;
}
.flexslider {
    margin: 0 auto;
	margin-bottom: 62px;
    padding-top: 0px;
    position: relative;
}

/******************************************/
.flex-caption .title h2{
	color:#fff;
	height:44px;
	font-size:30px;
	font-family: 'OswaldLight', Arial, Helvetica, sans-serif;
	display:inline-block;
		padding-top: 11px;
	padding-right: 15px;
	padding-bottom: 11px;
	padding-left: 15px;
	margin:0;
}
.flex-caption .subtitle-2 {
	color: #d1d1d1;
	background-color: #535961;
	width: 345px;
	padding-top: 16px;
	padding-right: 20px;
	padding-bottom: 16px;
	padding-left: 20px;	
	margin:0;
}


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
		/* Direction Nav */
		/*.flex-direction-nav .flex-next {background-position: 100% 0; right: -25px; }
		.flex-direction-nav .flex-prev {left: -25px;}
		.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
		.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}*/

    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
		.flex-caption {
			visibility:hidden !important;
			display:none !important;
		}
		/*.flex-direction-nav {
			visibility:hidden;
			display:none;
		}*/
       
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
 		.flex-caption {
			visibility:hidden !important;
			display:none !important;
		}
		/*.flex-direction-nav {
			visibility:visible;
			display:block;
		}*/
    }

/* Retina Images (High Resolution)
====================================================================== */
@media (-Webkit-min-device-pixel-ratio: 1.5),
 (-moz-min-device-pixel-ratio: 1.5),
 (-o-min-device-pixel-ratio: 3/2),
 (min-device-pixel-ratio: 1.5),
 (min-resolution: 1.5dppx) {
	   
		/*.flex-direction-nav a {
			background: url(../images/bg_direction_nav@2x.png) no-repeat 0 0 #5a5a5a ;
			background-size:57px  auto ;
		}*/

}

