 /* Sequence slider (2 theme (index4.html))
 ===================================================================*/
/* THEME STYLES */
#sequence-theme {
	height: 345px;
	margin: 0 auto;
	/*margin-bottom: 25px;*/
    padding-top: 10px;
	position: relative;
	overflow: hidden;
	max-width: /*1280*/1000px;
	width: 100%;
  /* prevent graphical glitches in WebKit browsers when using transitions */
}
#sequence-theme #sequence {
	display: block;
	height: 100%;
	margin: 0;
	position: absolute;
	max-width: /*1280*/1000px;
	width: 100%;
	
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
#sequence-theme .next,
#sequence-theme .prev {
  	color: white;
	cursor: pointer;
	/*opacity:0;*/
	font-weight: bold;
	padding: 20px 10px;
	position: absolute;
	top: 50%;
	z-index: 1000;
	height: 15px;
	margin-top: -30px;
	/*padding-left: 0px;
	padding-right: 0px;*/
}
#sequence-theme .pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
#sequence-theme .paused {
  opacity: 0.3;
}
#sequence-theme .prev {
  left: 0;
}
#sequence-theme .next {
  right: 0;
}
#sequence-theme .prev img,
#sequence-theme .next img {
  height: 100%;
  width: auto;
}
#sequence-theme #sequence-preloader {
  background: #d9d9d9;
}
#sequence-theme .nav {
  bottom: 1%;
  display: none;
  right: 6%;
  position: absolute;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#sequence-theme .nav li {
  display: inline-block;
  height: 140px;
}
#sequence-theme .nav li {
  *display: inline;
  /* Hack for IE7 and below as they don't support inline-block */
}
#sequence-theme .nav li img {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#sequence-theme .nav li img.active {
  opacity: 1;
}
#sequence-theme #sequence li {
  height: 100%;
  position: absolute;
  top: -50%;
  width: 100%;
}
#sequence-theme #sequence li > * {
  position: absolute;
}
#sequence-theme #sequence li img {
  height: 96%;
}
#sequence-theme h2 {
	/*color: #535961;*/
	font-family: 'OswaldLight', Arial, Helvetica, sans-serif;

	font-weight: bold;
	font-size:34px;
	line-height:34px;
	margin-bottom:0;
}
#sequence-theme h3 {
  	color: #ffc000;
	font-family: 'OswaldLight', Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:25px;
	line-height:25px;
	margin-bottom:0;
}
.sequence-theme-6 #sequence-theme .next,
.sequence-theme-6 #sequence-theme .prev {
  position: absolute;
  background-color:#535961;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sequence-theme-6 #sequence-theme .next:hover,
.sequence-theme-6 #sequence-theme .prev:hover {
  background-color:#ffea00;
    -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#sequence-theme .title {
  right: 45%;
	width: 45%;
	opacity: 0;
	bottom: 20%;
	z-index: 50;
}
#sequence-theme .animate-in .title {
  right: 50%;
	opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#sequence ul {
	padding:0;
	margin:0;
}
#sequence-theme .animate-out .title {
  right: 35%;
	opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#sequence-theme .subtitle {
  right: 45%;
	width: 45%;
	opacity: 0;
	top: 87%;
}
#sequence-theme .animate-in .subtitle {
  right: 50%;
	opacity: 1;
	
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#sequence-theme .animate-out .subtitle {
  right: 39%;
	width: 39%;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#sequence-theme .subtitle-2 {
	right: 39%;
	width: 39%;
	opacity: 0;
	top: 93%;/*change block position*/
}
#sequence-theme .animate-in .subtitle-2{
	right: 56%;
	opacity: 1;

	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#sequence-theme .animate-out .subtitle-2{
	right: 60%;
	opacity: 0;

	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
#sequence-theme .slider-caption {
	font-size:14px;
	line-height:18px;
	font-weight:lighter;
	/*color:#606060;*/
	margin-top:14px;
	margin-bottom:14px;
}
#sequence-theme .subtitle-3 {
	right: 45%;
	width: 45%;
	opacity: 0;
	top: 120%;/*change block position*/
}
#sequence-theme .animate-in .subtitle-3 {
	right: 50%;
	opacity: 1;

	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#sequence-theme .animate-out .subtitle-3{
	right: 65%;
	opacity: 0;

	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
#sequence-theme .model {
  /*prevents the model from shrinking when the browser is resized*/
 right: 30%;
	bottom: -48%;
	opacity: 0;
	position: relative;
	height: auto !important;
	max-height: 345px !important;
	width: 100%;
	min-width: 225px; /*prevents the model from shrinking when the browser is resized*/
	max-width: 500px;
}
#sequence-theme .animate-in .model {
  right: 5%;
	opacity: 1;
	
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#sequence-theme .animate-out .model {
  right: 5%;
	opacity: 0;
	
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/******************************/
/*******SLIDE TEXT SYLES*******/
/******************************/
#sequence .slide-2-light {
	font-size:37px;
	/*color:#606060;*/
	font-weight:lighter;
	
}
#sequence .slide-2-bold {
	font-size:34px;
	color:#373737 !important;
	font-weight:bold;
	top: 87%;
}
#sequence .slide-2-yellow {
	font-size:26px;
	color:#ffc000;
	font-weight:normal;
	top: 90%;
	font-family: 'OswaldLight', Arial, Helvetica, sans-serif;
}






/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        #sequence-theme    { 
			height: 265px;
		}
		
		#sequence-theme h2 {

			font-size: 26px;
			line-height: 26px;
		}
		
		#sequence-theme h3 {
			font-family: 'Open Sans',sans-serif;
			font-size: 20px;
			line-height: 20px;
			font-weight: lighter;
		}
		#sequence-theme .slider-caption {
			/*color: #606060;*/
			font-size: 12px;
			font-weight: lighter;
			line-height: 14px;
		}
		#sequence-theme #sequence li img {
		  width: 50%;
		}
  		
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        #sequence-theme    { 
			height: 235px;
		}
		#sequence-theme .model{
			left: 50%;
			bottom: -20%;
			min-width: 65%; /*prevents the model from shrinking when the browser is resized*/
			width: 65%;
			/*height:300px;*/	
		}
		
		#sequence-theme .animate-in .model {
			left: 50%;
			margin-left: -33%;
		}
		
		#sequence-theme .animate-out .model {
			left: 50%;
			margin-left: -30%;
		}
		
		#sequence-theme .title{
			background-color: #535961;
			bottom: 0;
			left: 100%;
			padding-top: 15px;
			padding-right: 20px;
			padding-bottom: 25px;
			padding-left: 20px;

			bottom: -50%;
			width: 100%;
			z-index: 10;
			color: #fff;
		}
		/*#sequence-theme h2 {
			color: #fff;
		}*/
		#sequence-theme .box-main-container {
			background-color: #535961;
			color: #fff;

			/*border-color: #D6D6D6;
			border-radius: 3px 3px 0 0;
			border-style: solid solid dashed;
			border-width: 1px;*/
			padding-bottom: 15px;
			padding-top: 15px;
			text-align: center;
		}
		
		#sequence-theme .animate-in .title{
			left: 0%;
		}
		
		#sequence-theme .animate-out .title{
			left: -100%;	
		}
		#sequence-theme .subtitle{
			visibility: hidden;
		}
		#sequence-theme .subtitle-3{
			visibility: hidden;
		}
		#sequence-theme .subtitle-2{
			visibility: hidden;
		}
		
		#nav{
			bottom: 40px;
		}
		
		#nav li img{
			height: 100px;
		}

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        #sequence-theme    { 
			height: 265px;
		}
		#sequence-theme .model{
			left: 50%;
			bottom: -23.5%;
			min-width: 65%; /*prevents the model from shrinking when the browser is resized*/
			width: 65%;
			/*height:300px;*/	
		}
		
		#sequence-theme .animate-in .model {
			left: 50%;
			margin-left: -33%;
		}
		
		#sequence-theme .animate-out .model {
			left: 50%;
			margin-left: -30%;
		}
		
		#sequence-theme .title{
	background-color: #535961;
	bottom: 0;
	left: 100%;
	bottom: -50%;
	width: 100%;
	z-index: 10;
	color: #fff;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 20px;
		}

		#sequence-theme .box-main-container {
			background-color: #535961;
			color: #fff;

			padding-bottom: 15px;
			padding-top: 15px;
			text-align: center;

		}
		
		#sequence-theme .animate-in .title{
			left: 0%;
		}
		
		#sequence-theme .animate-out .title{
			left: -100%;	
		}
		#sequence-theme .subtitle{
			visibility: hidden;
		}
		#sequence-theme .subtitle-3{
			visibility: hidden;
		}
		#sequence-theme .subtitle-2{
			visibility: hidden;
		}
		
		#nav{
			bottom: 40px;
		}
		
		#nav li img{
			height: 100px;
		}

    }